*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    

}

a{
    text-decoration: 0;
    font-size: 13px;
}

/* scrollbar CSS */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.logo{
    display: flex;
    align-items: center;

}
div.logo img{
    width: 140px;
    height: 110px;
}
div.logo h1{
    font-size: 50px;
    color: gray;
}
div.logo h1 span{
    color: rgb(98, 144, 230) ;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 50px;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

}
.menu li a{
    color: gray;
    transition: 0.5s;
    font-size: 28px;
}
.menu li a:hover{
    color: rgb(98, 144, 230);
    font-size: 35px;
}
.menu li:hover::after{
    content: "";
    position: absolute;
    z-index: -1;

}
.numéro{
    font-size: 27px;
    color: rgb(255, 255, 255);
    padding: 0px 25px;
    background: linear-gradient(rgb(98, 144, 230),gray);
    border-radius: 60px;
    display: flex;
}
.numéro a{
    display: flex;
    align-items: center;
}
.numéro img{
    width: 80px;
    margin-left: -25px;
    margin-right: 30px;
    border-radius: 60px;

}
.numéro p{
    margin-right: 20px;
    font-size: 29px;
    color: white;
}

.menu_liste{
    margin-right: 60px;
    margin-left:  1150px;
    width: 60px;
    position: absolute;
    display: none;
}

/* tab */
@media (max-width:1280px) {
    div.logo img{
        width: 150px;
        height: 130px;
    }
    div.logo h1{
        font-size: 55px;
        color: gray;
    }
    
    html{
        width: 1280px;
    }
    .menu_liste{
        display: block;
        width: 90px;
        
    }

    .menu{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(172, 172, 172, 0.829);
        backdrop-filter: blur(7px);
        width: 1280px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -100%;
        transition: all 0.5s ease;
        
    }
    .menu.mobile-menu{
        margin-left: 0;
    }
    .menu li a{
        font-size: 55px;
        margin: 70px 0;
        transition: 0.5s;
        color: rgb(78, 78, 78);


    }
    .a1{
        display: none;
    }
    .menu li a:hover{
        font-size: 40px;
        
    }

    .numéro {
        display: none;
    }
    header{
        position: fixed;
        background-color: white;
        width: 100%;
        margin-top: -18px;
    }
   
}

/* phone */

@media (max-width:500px){
    html{
        width: 1000px;
    }
    .menu_liste{
        margin-left: 860px  ;
        width: 70px;
    }
    .menu{
        width: 1000px;
        height: 1805px;
        
    }
    
}


/* find */



.find{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}


.fond{
    background-color: blueviolet;
    margin: 23%;
    height: 530px;
    border-radius: 50px;
    margin-top: 10%;
    margin-bottom: 10%;

}
.find1 h4{
    color: blueviolet;
}

.find1 h1{
    margin-top: 80px;
    text-align: center;
    font-size: 60px;
}
.find1 p{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
    color: rgb(196, 196, 196);
}


.find2{
    background: linear-gradient(rgb(98, 144, 230),gray);
    border-radius: 60px;
    text-align: center;
    width: 28%;
    height: 70px;
    margin-left: 36%;
}
.find2 a{
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: white;
        
}

/* tab */
@media (max-width:1280px){
    .fond{
        margin: 15%;
        margin-top: 260px;
        margin-bottom: 200px;
    }
    .fond p{
        font-size: 35px;
    }
    .find2 {
        width: 340px;
        margin-left: 32%;
        height: 70px;
    }
    

}
/* phone */

@media (max-width:500px){
    .fond{
        margin: 10%;
        margin-top: 300px;
        margin-bottom: 240px;
    }
    .fond p{
        font-size: 35px;
    }
    .find2 {
        width: 340px;
        margin-left: 29%;
        height: 70px;
    }
    
    
}
















/* fin */
#fin{
    background-color: rgb(24, 24, 24);
}
.fin1{
    color: white;
}
.fin11{
    display: flex;
    align-items: center;
}
.fin111{
    margin-left: 70px;
    width: 40%;
}
.fin111 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 50px;

}
.fin111 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    margin-top: 20px;
}
.fin111 h2 a{
    font-size: 21px;
}
.fin111 img{
    margin-top: -50px;
    margin-bottom: -50px;
    width: 50%;
}
.fin111 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    color: grey;
    
}
.fin112{
    display: flex;

}
.fin1121{
    margin-left: 50px;
}
.fin1121 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 30px;
    

}
.fin1121 li{
    margin-top: 10px;
    list-style: none;
    

}
.fin1121 li a{
    color: grey;
    font-size: 28px;
}
.fin12 {
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: gray;
    font-size: 13px;

}
.fin12 p{
    margin-top: 10px;
    font-size: 28px;
}
.fin12 h2{
    margin-top: 10px;
    color:  rgb(24, 24, 24);
}
.imp{
    display: none;

}

/* tab */

@media (max-width:1280px){
    .fin111{
        display: flex;
    }
    .fin111 p{
        display: none;
    }
    .fin11{
        flex-direction: column;
        align-items: normal;
        width: 100%;
    }
    .fin111 img{
        width: 34pc;
        margin-left: 50Px;
    }
    .fin111 h2{
        width: 200%;
    }
    .fin112{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: -50px;
        margin-top: -30px;
        margin-bottom: 40Px;
    }
    .fin12{
        font-size: 35px;
    }
    .imp{
        display: block;
        font-size: 35px;
    }
    .fin111 h1{
        font-size: 50px;
    }
    .fin111 h2{
        font-size: 32px;
        width: 140%;
        margin-bottom: 30px;
    }
    .fin111 h2 a{
        font-size: 32px;
    }
    .fin1121 h2{
        font-size: 30px;
    }
    .fin1121 li a{
        font-size: 28px;
    }
    .fin12 p{
        font-size: 30px;
    }
}

