*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    

}

a{
    text-decoration: 0;
    font-size: 13px;
}

/* scrollbar CSS */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{    background-color: gray;
    border-radius: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.logo{
    display: flex;
    align-items: center;

}
div.logo img{
    width: 140px;
    height: 110px;
}
div.logo h1{
    font-size: 45px;
    color: gray;
}
div.logo h1 span{
    color: rgb(98, 144, 230) ;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 50px;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

}
.menu li a{
    color: gray;
    transition: 0.5s;
    font-size: 18px;
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(98, 144, 230);
    font-size: 23px;
}
.menu li:hover::after{
    content: "";
    position: absolute;
    z-index: -1;

}
.numéro{
    font-size: 27px;
    color: rgb(255, 255, 255);
    padding: 0px 25px;
    background: linear-gradient(rgb(98, 144, 230),gray);
    border-radius: 60px;
    display: flex;
}
.numéro a{
    display: flex;
    align-items: center;
}
.numéro img{
    width: 80px;
    margin-left: -25px;
    margin-right: 30px;
    border-radius: 60px;

}
.numéro p{
    margin-right: 20px;
    font-size: 29px;
    color: white;
}

.menu_liste{
    margin-right: 60px;
    margin-left:  1150px;
    width: 60px;
    position: absolute;
    display: none;
}

/* tab */
@media (max-width:1280px) {
    div.logo img{
        width: 50px;
        height: 40px;
        margin-left: -25px;
    }
    div.logo h1{
        font-size: 25px;
        color: gray;
    }
    
    html{
        width: 100%;
    }
    .menu_liste{
        display: block;
        width: 90px;
        
    }

    .menu{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(172, 172, 172, 0.829);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -100%;
        transition: all 0.5s ease;
        
    }
    .menu.mobile-menu{
        margin-left: 0;
    }
    .menu li a{
        
        font-size: 22px;
        margin-left: -17%;
        margin-bottom: 60px;
        transition: 0.5s;
        color: rgb(78, 78, 78);


    }
    .a1{
        display: none;
    }
    .menu li a:hover{
        font-size: 18px;
        
    }

    .numéro {
        display: none;
    }
    header{
        position: fixed;
        background-color: white;
        width: 100%;
        margin-top: -10px;
    }
   
}

/* phone */

@media (max-width:500px){
    html{
        width: 100%;
    }
    .menu_liste{
        margin-left: 80%;
        width: 30px;
    }
    .menu{
        width: 100%;
        height: 670px;
        
    }
    header{
        position: fixed;
        background-color: white;
        width: 100%;
        margin-top: -50px;
    }
    
    
}







/* home */

#home{
    padding: 0 5%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 200px);
    scroll-behavior: smooth;
}

.text{
    width: 55%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img.bg{
    width: 42%;
    /* height: 90%; */
    object-fit: cover;
    border-radius: 50px;
    margin-left: 30px;
    box-shadow: 0 0 10px black;
}
.text h1{
    font-size: 100px;
    color: gray;
    font-weight: 600;
    padding: 0;
    margin-left: -8px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.text h1 span{
    color: rgb(98, 144, 230) ;
}
.text h4{
    font-weight: 500;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(65, 65, 65);
    text-transform: capitalize;

}

/* tab */
@media (max-width:1280px){
    #home{
        height: 0px;
    }
    .text h1{
        margin-top: 28pc;
        font-size: 40px;
    }
    .text h4{
        font-size: 17px;
    }

    .bg{
        display: none;
    }
    .text{
        margin-top: 0px ;
        width: 100%;
        
    }
}
/* phone */

@media (max-width:500px){
    .text h1{
        margin-bottom: 30px;
    }
    

}




/* service */

.service{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 40px ;
    color: white;
    
    
}
.service1{
    background-color: blueviolet;
    border-radius: 50px;
    padding: 0 30px;  
    margin-right: 60px;  
    width: 100%;
    height: 30pc;
}
.service h2{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.service p{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.service2{
    background-color: rgb(65, 65, 65);
    border-radius: 50px;
    padding: 0 30px;
    width: 100%;    
    height: 30pc;
}
.service button {
    background: linear-gradient(rgb(98, 144, 230),gray);
    border-radius: 60px;
    width: 50%;
    margin-top: 40px;
    height: 70px;
    margin-left: 25%;
    margin-bottom: 40px;
}
.service button a{
    color: white;
    font-size: 23px;
    transition: 0.5s;
}
.service button a:hover{
    font-size: 27px;
}
/* tab */
@media (max-width:1280px) {
    .service1{
        height: 10pc;
    }
    .service2{
        height: 50pc;
    }
    .service{
        margin-top: 0px;
    }
    .service h2{
        font-size: 20px;
    }
    .service p{
        font-size: 17px;
    }
    .service button{
        width: 80%;
        height: 40px;
        margin-left: 12%;
        margin-top: 20px;
    }
    .service button a{
        font-size: 14px;
    }
    .service button a:hover{
        font-size: 14px;
    }
}

/* phone */

@media (max-width:500px){
    .service{
        flex-direction: column;
        
    }
    .service1{
        margin-top: 20pc;
        width: 100%;
        margin-left: 50px;
        height: 22pc;
    }
    .service2{
        margin-top: 40px;
        height: 29pc;
        
    }
    .service h2{
        margin-top: 40px;
        margin-bottom: 20px;
    }

}




/* supp */



#corps{
    background-color: black;
}
.premier{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{ 
    margin-top: 90px;
    margin-bottom: 20px;
    width: 9%;
    
}
.deuxieme h2{
    color: white;
    text-align: center;
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
}
.deuxieme p{
    color: white;
    text-align: center;
    font-size: 28px;
    color: rgb(196, 196, 196);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.supp{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    

}
.supp hr{
    margin-left: 50px;
    margin-right: 50px;
}
.supp h2{
    font-size: 45px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

.option{
    color: white;
    display: flex;
    background-color: black;
    
}
.option1{
    text-align: center;
    margin-bottom: 70px;
    width: 40%;

}
.option1 h1{
    
    background: linear-gradient(rgb(98, 144, 230),gray);
    border-radius: 100px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 110px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.option1 h2{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;

}
.option1 p{
    margin-top: 30px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.option1 p a{
    font-size: 30px;
    text-decoration: underline;
}
.option2{
    text-align: center;
    margin-left: 30px;
    margin-bottom: 70px;
    width: 40%;

}
.option2 h1{
    
    background: linear-gradient(rgb(98, 144, 230),gray);
    border-radius: 100px;
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 110px;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.option2 h2{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}
.option2 p{
    margin-top: 30px;
    font-size: 27px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.option3{
    text-align: center;
    margin-bottom: 70px;
    width: 40%;

}
.option3 h1{
    
    background: linear-gradient(rgb(98, 144, 230),gray);
    border-radius: 100px;
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 110px;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;

}
.option3 h2{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}
.option3 p{
    margin-top: 30px;
    font-size: 27px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* tab */
@media (max-width:1280px) {
    .img1{
        margin-top: 50px;
        width: 20%;
    }
    .deuxieme h2{
        font-size: 20px;
    }
    .deuxieme p{
        font-size: 18px;
    }
    .option1 h2{
        font-size: 20px;
    }
    .option1 p{
        font-size: 18px;
    }
    .option{
        flex-direction: column;
    }
    .option h1{
        margin-top: 30px;
        width: 75px;
        font-size: 60px;
        margin-left: 40%;

    }
    .option p{
        margin-left: 3%;
        margin-right: 3%;
       
    }
    .option1 p a{
        font-size: 18px;
    }
    .option1{
        width: 100%;
    }
    .option2{
        width: 100%;
        margin-left: 0px;
    }
    .option2 h2{
        font-size: 20px;
    }
    .option2 p{
        font-size: 18px;
    }
    .option3{
        width: 100%;
    }
    .option3 h2{
        font-size: 20px;
    }
    .option3 p{
        font-size: 18px;
    }
}




/* liste */

.list{
    font-family: Arial, Helvetica, sans-serif;
}
.liste h1{
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    margin-bottom: 80px;
}
.liste p{
    color: white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.liste1 img{ 
    margin-top: 20px;
    width: 100%;
    margin-left: -2%;
}
.listee{
    display: none;
}
.liste2 img{
    margin-top: 20px;
    width: 85%;
    margin-left: 7%;
}
.phone{
    display: none;
}
.i{
    display: none;
}
.p{
    display: none;
}

/* tab */

@media (max-width:1280px) {
    .liste h1{
        font-size: 35px;
    }
}
/* phone */
@media (max-width:500px){
    .i{
        display: block;
    }
    .p{
        display: block;
    }
    .phone{
        display: block;
        
    }
    .liste h1{
        display: none;
    }
    .listee {
        display: block;
    }
    .listee h1{
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
        text-decoration: underline;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .list{
        display: none;
    }
    .i img{
        width: 95%;
        margin-left: 2%;

    }
    .p img{
        width: 95%;
        margin-left: 2%;
    }

}




/* verrou */


.verrou{
    display: flex;
    align-items: center;
    background-color:black;
}
.verrou img{
    width: 20%;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 110px;
}
.text1{
    color: white;
    
}
.text1 h2{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 110px;
}
.pp{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.bg2div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.liste p{
    font-size: 28px;
}
.bg2{
    margin-top: 30px;
    width: 65%;
    height: 840px;
    border-radius: 30px;
    margin-bottom: 80px;
}
/* tab */

@media (max-width:1280px){
    .text1 h2{
        font-size: 25px;

    }
    .pp{
        font-size: 18px;
        width: 99%;
    }
    .liste p{
        font-size: 18px;
        width: 99%;

    }
    .bg2{
        margin-top: 30px;
        width: 65%;
        height: 440px;
        border-radius: 30px;
        margin-bottom: 80px;
    }

}

/* phone */
@media (max-width:500px){
    .bg2{
        width: 90%;
        height: 30%;
    } 
    .verrou img{
        margin-top: 30px;
        width: 40%;
        margin-bottom: -60px;
    }  
    .verrou{
        flex-direction: column;
    }
    .text1{
        margin-left: 20px;
    }
}


/* pourquoi */

.prq{
    margin-left: 110px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.prq h1{
    margin-top: 100px;
    font-size: 45px;
}
.prq p{
    margin-top: 20px;
    color: gray;
    font-size: 28px;
}
.prqg{
    display: flex;
    margin-bottom: 100px;
}
.prqg1{
    margin-top: 40px;
}
.prq1{
    display: flex;
}
.prq1 img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-top: 74px;
}
.prq2{
    margin-left: 20px;
    margin-right: 130px;
}
.prq2 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    font-size: 32px;


}
.prq2 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: gray;
    font-size: 28px;
}
.prqg2{
    margin-top: 40px;
}
.prq3{
    display: flex;
}
.prq3 img{
    width: 80px;
    height: 80px;
    margin-left: -100px;
    margin-top: 68px;
}
.prq4{
    margin-left: 20px;
    margin-right: 50px;

}
.prq4 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 66px;
    font-size: 32px;


}
.prq4 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: gray;
    font-size: 28px;
}


/* tab */

@media (max-width:1280px){
    .prqg img{
        width: 40px;
        height: 40px;
    }
    .prq{
        margin-left: 0px;
    }
    .prq h1{
        margin-top: 50px;
        margin-left: 30px;
        font-size: 25px;
    }
    .prq p{
        color: gray;
        margin-left: 30px;
        font-size: 18px;
        margin-bottom: -50px;
    }
    .prqg1 h1{
        font-size: 20px;
    }
    .prqg2 h1{
        font-size: 20px;
    }
    .prqg1 p{
        font-size: 18px;
    }
    .prqg2 p{
        font-size: 18px;
    }
    .prq4{
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .prq2{
        margin-left: 20px;
        margin-right: 20px;
    }
    .prq1 img{
        margin-left: 40px;
    }
    .prq3 img{
        margin-left: -110px;     
    }

}

/* phone */

@media (max-width:500px){
    .prqg{
        flex-direction: column;
    }
    .prqg2{
        margin-left: 155px;
    }
}


/* fin */
#fin{
    background-color: rgb(24, 24, 24);
}
.fin1{
    color: white;
}
.fin11{
    display: flex;
    align-items: center;
}
.fin111{
    margin-left: 70px;
    width: 40%;
}
.fin111 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 50px;

}
.fin111 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    margin-top: 20px;
}
.fin111 h2 a{
    font-size: 21px;
    color: blueviolet;
}
.fin111 img{
    margin-top: -50px;
    margin-bottom: -50px;
    width: 50%;
}
.fin111 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    color: grey;
    
}
.fin112{
    display: flex;

}
.fin1121{
    margin-left: 50px;
}
.fin1121 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 30px;
    

}
.fin1121 li{
    margin-top: 10px;
    list-style: none;
    

}
.fin1121 li a{
    color: grey;
    font-size: 28px;
}
.fin12 {
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: gray;
    font-size: 13px;

}
.fin12 p{
    margin-top: 10px;
    font-size: 28px;
}
.fin12 h2{
    margin-top: 10px;
    color:  rgb(24, 24, 24);
}
.imp{
    display: none;

}

/* tab */

@media (max-width:1280px){
    .fin111{
        display: flex;
        margin-left: 10px;
    }
    .fin111 p{
        display: none;
    }
    .fin11{
        flex-direction: column;
        align-items: normal;
        width: 90%;
    }
    .fin111 img{
        margin-top: 30px;
        margin-left: -5px;
        width: 13pc;
    }
    .fin112{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10Px;
    }
    .fin12{
        font-size: 18px;
    }
    .imp{
        display: block;
        font-size: 18px;
    }
    .fin111 h1{
        font-size: 25px;
    }
    .fin111 h2{
        font-size: 15px;
        width: 110%;
        margin-bottom: 30px;
    }
    .fin111 h2 a{
        font-size: 15px;
    }
    .fin1121 h2{
        font-size: 15px;
        margin-top: 0px;
    }
    .fin1121 li a{
        font-size: 15px;
    }
    .fin12{
        margin-left: 10px;
    }
    .fin12 p{
        
        font-size: 15px;
    }
}
